<!DOCTYPE html>
<html>
    <head>
        <title>Jesse's Index Search</title>
        <style>
            * {
                font-family: monospace;
            }
            .container {
                margin: auto;
                padding: 70px 0;
                width: 50%;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>JESSE'S INDEX</h1>
            <form method="get">
                <input name ="q" type="text" placeholder="Search the index" requir/>
                <input type="submit" value="GO!" />
            </form>
        </div>
    </body>
</html>